*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: 1s;
}

body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

nav{
    display: flex;
    gap: 40px;
}

nav a{
    color: grey;
}

nav a:hover{
    color: red;
}

header div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

div b{
    color: lightcoral;
    font-size: 12px;
}

.theme-btn{
    display: flex;
    width: 34px;
    height: 17px;
    border: 1px solid red;
    border-radius: 50px;
    position: relative;
    cursor: pointer;

}

.menu-btn{
    display: none;
}


.theme-ball{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 0px;
    transition: 0.5s;
}


main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

main form{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form div span select{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    font-size: 14px;

}

form div h1{
    font-size: 30px;
    font-weight: 200;
    color: red;

}

form span{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    
}

form div span input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
   
}


form div span label{
    font-weight: 400;
    color: red;
    font-size: 14px;
}

form div button{
    width: 35%;
    padding: 10px 20px;
    border: 1px solid red;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}


form div button:hover{
    background-color: red;
    color: white;

    
}



footer{
    width: 100%;
    height: 40px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

footer p{
    font-size: 11px;
    color:red;
    
}


/* utility class */

.theme-slide{
    left: 17px;
}


.dark-theme-body{
    background-color: rgb(19, 19, 19) !important;
    color: white !important;
}

.dark-theme-header{
    background-color: black !important;
    color: rgba(255,255,255,0.7) !important;
}


.dark-theme-form{
    background-color: black !important;
    color: rgba(255,255,255,0.7) !important;

}

.dark-theme-footer{
    background-color: black;
    color: rgba(255,255,255,0.7) !important;
}

.dark-theme-select{
    background-color: rgb(44, 44, 44) !important;
    color: rgba(255,255,255,0.7) !important;
}

.dark-theme-input{
    background-color: rgb(44, 44, 44) !important;
    color: rgba(255,255,255,0.7) !important;
}